body {
    background: rgb(5, 5, 5);
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
}

p {
    line-height: 20px;
    background: url(images.jpeg);
    -webkit-background-clip: text;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    background-size: cover;
    background-position: center;
    text-align: justify;
    /* filter: grayscale(80%); */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    p {
        background-size: 80em;
        line-height: 12px;
    }
}

@media (max-width: 992px) {
    p {
        background-size: 60em;
        line-height: 10px;
    }
}

@media (max-width: 768px) {
    p {
        background-size: 40em;
        line-height: 8px;
    }
}

@media (max-width: 576px) {
    p {
        background-size: 20em;
        line-height: 6px;
    }
}
